* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#todo-div {
  border: 2px solid grey;
  border-radius: 10px;
  max-width: 700px;
  margin: 10px auto;
}
#h1-div {
  width: 100%;
  height: 100px;
  padding: 30px 0px;
  background-color: rgb(136, 136, 136);
  color: antiquewhite;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo-ul-div {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  margin: 30px 0px;
}
ul li {
  text-align: left;
  list-style: none;
  font-size: 20px;
  padding: 20px;
  border: 1px solid green;
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
#input-div {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#input-div > * {
  margin: 10px;
}
#add-button {
  padding: 11px 16px;
  border-radius: 5px;
  background-color: rgb(74, 74, 180);
  color: white;
}
#add-button:hover {
  cursor: pointer;
  background-color: black;
}
#text {
  width: 90%;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid grey;
}

/* ! sdasdasdasd */
.delete-button {
  padding: 11px 16px;
  border-radius: 5px;
  background-color: rgb(218, 41, 41);
  color: white;
}
.delete-button:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}
input[type="checkbox"] {
  margin-right: 10px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
.span-text {
  width: 80%;
  display: inline-block;
  text-align: left;
  padding: 10px;
}
